# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
build/android/*.apk filter=lfs diff=lfs merge=lfs -text
build/ios/*.ipa filter=lfs diff=lfs merge=lfs -text
build/ios/*.zip filter=lfs diff=lfs merge=lfs -text
